### Object and Data Structures in Python:

* What is an object?    

 An object is simply a collection of data  
 
 
* Data Structures:    

 Each data structure provides a particular way of organizing data so it can be accessed efficiently, depending on your use case.

  
#### 1. Numbers    


  
We'll learn about the following topics:

1. Types of Numbers in Python
2. Basic Arithmetic
3. Differences between classic division and floor division
4. Object Assignment in Python

#### Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this course we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

#### Basic Arithmetics

In [2]:
#Addition
print(23 + 17)

40

In [3]:
#Subtraction
34-23

11

In [4]:
#Multiplication
2*2

4

In [5]:
#Division
4/4

1.0

In [6]:
# Floor Division
4//4

1

In [8]:
type(1.0)

float

In [9]:
2+3.0

5.0

The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

In [10]:
## Modulo
7 % 4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

In [11]:
## Multiple arithmetics in one line
( 2 + 4)-(3 * 2)

0

## Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.    

Variable assignment follows name = object, where a single equals sign = is an assignment operator.   
  
  
We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [17]:
# Let's create an object called "a" and assign it the number 5
salary = 100
f1 = 23.4

In [13]:
# Adding the objects
n1 + f1

57.4

In [15]:
# Reassignment
salary = 120

In [18]:
updated_sal=120

In [19]:
print(salary)

100

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using +=, -=, *=, and /=.

In [24]:
salary /= updated_sal

In [25]:
salary

1.8333333333333333

In [ ]:
# printing a number object

In [ ]:
# determining the type of a variable

#### Some rules for naming the variables

The names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice (PEP8) that names are lowercase.
5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.
6. Avoid using words that have special meaning in Python like "list" and "str"

Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [29]:
PI = 3.14

In [32]:
n_1=10

TypeError: 'int' object is not callable

In [33]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [34]:
# Show my taxes!
print(my_taxes)

10.0

#### Advanced Numbers and some methods

In [38]:
# Powers
2**4

16

In [ ]:
# with pow()
pow(2.4,4)

In [41]:
# Roots
4**0.5

2.0

BDMAS Rule

In [42]:
# Operator precedence
(2*2) + 8 / 2

8.0

In [ ]:
# Can use parentheses to specify orders

In [43]:
# solving complex equation
lenght=2
width= 3
area= lenght * width

In [44]:
area

6

In [45]:
# abstract numbers
abs(-45)

45

In [46]:
# Round
round(4.333333333, 2)

4.33

In [47]:
# type of a number
type()

TypeError: 'int' object is not callable

## Assignment-1 Numbers and methods

Hey, you are learning so great and now here just check your knowledge. Can you please solve the challange below?  
If you solve this one then you will get free 15 minutes for class with me (Lol! Just kidding)😜  

`So the problem is: `   
*As you know computers only understand zeros and ones (binary numbers), SO I have my password for loging in into the computer But unfortunately it is an integer. Could you please help me in finding out the binary form of my password??? It is 245786.*

`hint:` You can use any number operation or method but dont forget to give my password a name(variable)

## Assignment-2 Numbers,Variables and methods  

Write a Python program to calculate the area of a trapezoid. It should must be rounded to 3 decimal points.
  
`hint`: A trapezoid is a quadrilateral with two sides parallel. The trapezoid is equivalent to the British definition of the trapezium. An isosceles trapezoid is a trapezoid in which the base angles are equal so.  
  
`Test Data`:  
Height : 5.525  
Base, first value : 1496  
Base, second value : 25